<h1>Hello, {{ product }}</h1>
<h2 [innerText]="product"></h2>
<p [attr.aria-label]="myText">product-list works!</p>
@if (products.length > 0) {
  <h1>Products ({{products.length}})</h1>
  <ul class="pill-group">
  @for (product of products; track product.id; let variable1=$index; let variable2=$even) {
    <li class="pill" [class.even]="variable2" (click)="selectedProduct = product">{{variable1}} {{product.title}}</li>
  }</ul>
} @else {
  <p>No products found!</p>
}

@if (selectedProduct) {
  <p>You selected 1:
    <strong>{{selectedProduct.title}}</strong>
  </p>
}

<app-product-detail [product]="selectedProduct"></app-product-detail>

<ul class="pill-group">
  @for (product of products; track product.id) {
    <li class="pill">
      @switch (product.title) {
        @case ('Keyboard') { KA }
        @case ('Microphone') { MI }
        <!-- @default { NO } -->
      }
      {{product.title}}
    </li>
  } @empty {
    <p>No products found!</p>
  }
</ul>
